extends layout

block content
	h1 Here are all the animal list

	.animal-list-container
		each animal in animals
			.animal-card
				img(src=animal.imgUrl, alt=animal.name)
				p #{ animal.name }
				p #{ animal.status }
				p #{ animal.category }
				p #{ animal.description }
