extends ../layout

block content
	.content
		h1.form-header= title
		.form-container
			form.category-form(method="POST", action="") 
				.form-group
					label(for="category_name") Name:
					input#category_name.form-control(
						type="text",
						placeholder="Name of the category",
						name="category_name",
						required="true",
						value=undefined === category ? "" : category.name
					)
				.form-group
					label(for="description") Description:
					textarea#description.form-control(
						type="textarea",
						name="description",
						required="true",
						placeholder="Information about the category"
					) #{ undefined === category ? '' : category.description }
				.form-btn-container
					button(type="submit") Submit

		.errors-container
			if errors
				ul
					each error in errors 
						li!= error.msg
