extends ../layout

block content
	.content
		.category-details-heading 
			h1= name
			p= description

		.category-details-container
			each animal in animals
				.category-details-card
					img(src=animal.imgUrl, alt=animal.name)
					.category-details-content
						a(href="#") #[strong #{ animal.name } ]
						if animal.status=='least concern'
							p.common #{ animal.status }
						else if animal.status=='vulnerable'
							p.vulnerable #{ animal.status }
						else if animal.status=='endangered'
							p.endangered #{ animal.status }
						else
							p.extinct #{ animal.status }
						p #[strong Category:]
							|
							a.category-link(href=animal.url) #{ animal.category.name }
						p - #{ animal.description }
