extends ../layout

block content
	.content
		.category-details-heading
			.category-title
				h1= title
				.icons-container
					a(href=category.url + "/delete")
						|
						i.fa-regular.fa-trash-can(title="Delete Category")
					a(href=category.url + "/update")
						|
						i.fa-regular.fa-pen-to-square(title="Edit Category")
			p= description

		.category-details-container
			each animal in animals
				.category-details-card
					img(src=animal.imgUrl, alt=animal.name)
					.category-details-content
						a(href=animal.url) #[strong #{ animal.name } ]
						if animal.status=='least concern'
							p.common #{ animal.status }
						else if animal.status=='vulnerable'
							p.vulnerable #{ animal.status }
						else if animal.status=='endangered'
							p.endangered #{ animal.status }
						else
							p.extinct #{ animal.status }
						p #[strong Category:]
							|
							a.category-link(href="/category") #{ category.name }
						p - !{ description }
		if animals.length <= 0
			p.text-error There are no animals in this category please add one.
