extends ../layout

block content
	.content
		.category-details-heading
			.category-title
				h1 #{title}: #{animal.name}
			p= animal.description

		.category-details-container
			.category-details-card
				img(src=animal.imgUrl, alt=animal.name)
				.category-details-content
					if animal.status=='least concern'
						p.common #{ animal.status }
					else if animal.status=='vulnerable'
						p.vulnerable #{ animal.status }
					else if animal.status=='endangered'
						p.endangered #{ animal.status }
					else
						p.extinct #{ animal.status }
					p #[strong Category:]
						|
						a.category-link(href='/category') #{ animal_category.name }
					p - #{ animal_category.description }

		.animal-delete-container
			p.text-error #[strong Are you sure you want to delete this animal?]

			form(method="POST", action="")
					input#animal_id(
						type="hidden",
						name="animal_id",
						required="true",
						value=animal._id
					)
					button.delete-btn(type="submit") Delete
