extends ../layout

block content
	.content
		h1.form-header= title
		.form-container
			form.category-form(method="POST", action="") 
				.form-group
					label(for="animal_name") Name:
					input#animal_name.form-control(
						type="text",
						placeholder="Name of the animal",
						name="animal_name",
						required="true",
						value=undefined === animal ? "" : animal.name
					)
				.form-group
					label(for="description") Description:
					textarea#description.form-control(
						type="textarea",
						name="description",
						required="true",
						placeholder="Information about the animal"
					) #{ undefined === animal ? '' : animal.description }
				.form-group
					label(for="img_url") Image URL:
					input#img_url.form-control(
						type="text",
						placeholder="Optional",
						name="img_url",
						value=undefined === imgUrl ? "" : animal.imgUrl
					)
				.form-group
					label(for="status") Status:
					select#status.form-control(
						type="select",
						name="status",
						placeholder="Animal status"
					)
						option(value="least concern") Least Concern
						option(value="vulerable") Vulnerable
						option(value="endangered") Endangered
						option(value="extinct") Extinct
				.form-group
					label(for="category") Category:
					select#category.form-control(
						type="select",
						name="category",
						placeholder="Animal type"
					)
						- categories.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
						each category in categories
							if animal
								option(
									value=category._id,
									selected=category._id.toString() === animal.category._id.toString() ? "selected" : false
								) #{ category.name }
							else
								option(value=category._id) #{ category.name }
				.form-btn-container
					button(type="submit") Submit

		.errors-container
			if errors
				ul
					each error in errors 
						li.text-error!= error.msg
