extends ../layout

block content
	.content
		.animal-list-heading
			h1 Here are all the animal list
			a(href="/animal/create", title="Add a new animal")
				|
				i.fa-regular.fa-square-plus

		.animal-list-container
			each animal in animals
				.animal-card
					img(src=animal.imgUrl, alt=animal.name)
					.animal-card-details
						a(href=animal.url) #{ animal.name }
						if animal.status=='least concern'
							p.common #{ animal.status }
						else if animal.status=='vulnerable'
							p.vulnerable #{ animal.status }
						else if animal.status=='endangered'
							p.endangered #{ animal.status }
						else
							p.extinct #{ animal.status }
						p #[strong Category:]
							|
							a.category-link(href=animal.url) #{ animal.category.name }
						p - #{ animal.description }
